In [1]:
print(123)

123

In [2]:
print("나는 김진용 입니다.")

나는 김진용 입니다.

In [3]:
a = []
a

[]

In [6]:
b = [1, 2, 3]
b

[1, 2, 3]

In [8]:
c = ['Life', 'is', 'too', 'short']
c

['Life', 'is', 'too', 'short']

In [10]:
d = [1, 2, 'Life', 'is'] 
d

[1, 2, 'Life', 'is']

In [12]:
e = [1, 2, ["Life", "is"]] 
e

[1, 2, ['Life', 'is']]

In [13]:
a = [1, 2, 3]

In [14]:
a

[1, 2, 3]

In [15]:
a[1]

2

In [19]:
a = [1, 2, ["life", "is"]]
a[2][0]

'life'

In [20]:
a = [1, 2, 3, 4, 5]

In [21]:
b = a[0:2]
b

[1, 2]

In [22]:
b = a[:2]
b

[1, 2]

In [23]:
a = [1, 2, 3]

In [24]:
a[2]=4
a

[1, 2, 4]

In [25]:
a[2:3]

[4]

In [1]:
a[2:3] = ["a","b"]

NameError: name 'a' is not defined

In [34]:
a = [1, 2, 3]
del a[2]
a

[1, 2]

In [36]:
a = [1, 2, 3, 4]
del a[1:3]
a

[1, 4]

In [37]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [39]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [41]:
a = [1, 2, 3, 4, 5]
a.sort()
a
a.reverse()
a

[5, 4, 3, 2, 1]

In [42]:
a = [1, 2, 3]
a.index(3)

2

In [43]:
a = [1, 2, 3]
a.pop()

3

In [44]:
a

[1, 2]

In [46]:
a = [1, 2, 3, 1]
a.count(1)

2

In [47]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [48]:
a = [1, 2, 3]
a.append([4, 5])
a

[1, 2, 3, [4, 5]]

In [50]:
dic = {'name' : '김진용', 'phone' : '01012345678'}

In [51]:
dic['name']

'김진용'

In [52]:
dic['phone']

'01012345678'

In [53]:
dic.keys()

dict_keys(['name', 'phone'])

In [54]:
dic.values()

dict_values(['김진용', '01012345678'])

In [55]:
3 > 1

True

In [57]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [58]:
money = 1
if money:
    print("택시 타자")
else:
    print("걸어가자")

택시 타자

In [59]:
money = 2000
if money >= 3000:
    print("택시 타자")
else:
    print("걸어가자")

걸어가자

In [60]:
money = 2000
card = 1
if money >= 3000 or card:
    print("택시 타자")
else:
    print("걸어가자")

택시 타자

In [64]:
pocket = ['card', 'cellphone', 'keys']
if 'money' in pocket:
    print("택시 타자")
elif 'card' in pocket:
    print("택시 타자")
else:
    print("걸어가자")

택시 타자

In [65]:
revenue = 10000
cost = 5000
profit = revenue - cost
profit

5000

In [67]:
regions = [('Northeast', 55.3),('Midwest', 66.9),('South', 114.6),('West', 71.9)]
sum = regions[0][1] + regions[1][1] + regions[2][1] + regions[3][1] 
sum

308.70000000000005

In [68]:
print("The population of the {states} is {pop} million." .format(states = regions[0][0], pop = regions[0][1]))
print("The population of the {states} is {pop} million." .format(states = regions[1][0], pop = regions[1][1]))
print("The population of the {states} is {pop} million." .format(states = regions[2][0], pop = regions[2][1]))
print("The population of the {states} is {pop} million." .format(states = regions[3][0], pop = regions[3][1]))
print("The total population of USA is {pop} million." .format(pop = sum))

The population of the Northeast is 55.3 million.
The population of the Midwest is 66.9 million.
The population of the South is 114.6 million.
The population of the West is 71.9 million.
The total population of USA is 308.70000000000005 million.

In [69]:
my_gpa = 4.0
if my_gpa >= 4.3:
    print("당신의 학점은 {my_gpa}입니다." .format(my_gpa=my_gpa))
    print("당신은 최우수졸업생입니다.")
elif my_gpa >= 4.0:
    print("당신의 학점은 {my_gpa}입니다." .format(my_gpa=my_gpa))
    print("당신은 우수졸업생입니다.")
else:
    print("당신의 학점은 {my_gpa}입니다." .format(my_gpa=my_gpa))
    print("당신은 졸업생입니다.")

당신의 학점은 4.0입니다.
당신은 우수졸업생입니다.

In [70]:
my_gpa = float(input('학점 입력:'))
if my_gpa >= 4.3:
    print("당신의 학점은 {my_gpa}입니다." .format(my_gpa=my_gpa))
    print("당신은 최우수졸업생입니다.")
elif my_gpa >= 4.0:
    print("당신의 학점은 {my_gpa}입니다." .format(my_gpa=my_gpa))
    print("당신은 우수졸업생입니다.")
else:
    print("당신의 학점은 {my_gpa}입니다." .format(my_gpa=my_gpa))
    print("당신은 졸업생입니다.")

당신의 학점은 4.5입니다.
당신은 최우수졸업생입니다.

In [71]:
my_gpa = float(input('학점 입력:'))
if my_gpa >= 4.3:
    print("당신의 학점은 {my_gpa}입니다." .format(my_gpa=my_gpa))
    print("당신은 최우수졸업생입니다.")
elif my_gpa >= 4.0:
    print("당신의 학점은 {my_gpa}입니다." .format(my_gpa=my_gpa))
    print("당신은 우수졸업생입니다.")
else:
    print("당신의 학점은 {my_gpa}입니다." .format(my_gpa=my_gpa))
    print("당신은 졸업유예생입니다.")

당신의 학점은 2.2입니다.
당신은 졸업유예생입니다.

In [72]:
# 열번찍어 안넘어 가는 나무 없다.
count = 0 # 숫자를 0부터 세기 위함.
while count < 10:
    count = count + 1
    # 1~9번은 계속 나무를 찍자
    print("{count} 번 찍었습니다." .format(count=count))
    # 열번찍으면 나무 넘어가게 
    if count ==10:
        print("나무가 넘어갑니다.")

1 번 찍었습니다.
2 번 찍었습니다.
3 번 찍었습니다.
4 번 찍었습니다.
5 번 찍었습니다.
6 번 찍었습니다.
7 번 찍었습니다.
8 번 찍었습니다.
9 번 찍었습니다.
10 번 찍었습니다.
나무가 넘어갑니다.

In [75]:
# 열번찍어 안넘어 가는 나무 없다.
count = 0 # 숫자를 0부터 세기 위함.
while count < 10:
    count = count + 1
    # 1~9번은 계속 나무를 찍자
    print(" %d번 찍었습니다." % count)
    # 열번찍으면 나무 넘어가게 
    if count ==10:
        print("나무가 넘어갑니다.")

 1번 찍었습니다.
 2번 찍었습니다.
 3번 찍었습니다.
 4번 찍었습니다.
 5번 찍었습니다.
 6번 찍었습니다.
 7번 찍었습니다.
 8번 찍었습니다.
 9번 찍었습니다.
 10번 찍었습니다.
나무가 넘어갑니다.

In [76]:
prompt = """
1. 추가
2. 삭제
3. 리스트
4. 나가기
"""

In [77]:
prompt

'\n1. 추가\n2. 삭제\n3. 리스트\n4. 나가기\n'

In [79]:
# 위 화면을 무한재생시킴.
number = 0
while number != 4: #4를 안누를 동안에
    print(prompt)
    number = int(input())

1. 추가
2. 삭제
3. 리스트
4. 나가기


1. 추가
2. 삭제
3. 리스트
4. 나가기


1. 추가
2. 삭제
3. 리스트
4. 나가기


1. 추가
2. 삭제
3. 리스트
4. 나가기

In [80]:
coffee = 10 # 자판기 커피 재고
money = 300 # 나한테 있는 돈
while money:
    print("커피 나온다.")
    coffee  = coffee -1 # 커피 재고 감소
    if not coffee:
        print("커피가 없습니다.")
        break

커피 나온다.
커피 나온다.
커피 나온다.
커피 나온다.
커피 나온다.
커피 나온다.
커피 나온다.
커피 나온다.
커피 나온다.
커피 나온다.
커피가 없습니다.

In [81]:
# 홀수 판별 프로그램
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

In [82]:
test_list = ['one', 'two', 'three']
for i in test_list: # test_list 에서 추출
    print(i)

one
two
three

In [83]:
scores = [90, 25, 67, 45, 80]
for i in scores:
    if i >= 60:
        print("합격!")
    else:
        print("불합격!")

합격!
불합격!
합격!
불합격!
합격!

In [84]:
scores = [90, 25, 67, 45, 80]

for i in scores:
    if i < 60: continue #불합격 조건들을 수행 안하게
    print(i, "합격!")

90 합격!
67 합격!
80 합격!

In [87]:
scores = [90, 25, 67, 45, 80]

for i in scores:
    if i >= 60: 
        print(i, "합격!")
    else:
        print(i, "불합격!")

90 합격!
25 불합격!
67 합격!
45 불합격!
80 합격!