# 3절 리스트

### 리스트 만들기

In [2]:
# 빈 리스트
a = []
a

[]

In [3]:
b = [1, 2, 3]

In [1]:
a = []

In [11]:
c= ['Life', 'is', 'too', 'short']
c

['Life', 'is', 'too', 'short']

In [8]:
d = [1, 2, 'Life', 'is']

[1, 2, 'Life', 'is']

In [7]:
e = [1, 2, ["Life", "is"]]
e

[1, 2, ['Life', 'is']]

### 리스트의 인덱싱

In [12]:
#5 공간 상 첫째부터 다섯번째까지

In [13]:
a = [1, 2, 3]
a

[1, 2, 3]

In [14]:
a[1]

2

In [15]:
a[-1]

3

In [17]:
e= [1, 2, ["Life", "is"]]
e[2][0]

'Life'

# 리스트의 슬라이싱

In [18]:
a = [1, 2, 3, 4, 5]

In [19]:
b =a[0:2]
b

[1, 2]

In [20]:
b =a[:2]
b

[1, 2]

#리스트의 연산자

In [22]:
c= [1, 2, 3, 4, 5, 1, 2]
c * 2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

# 리스트의 수정, 변경, 삭제

In [23]:
# 하나의 값 수정하기
a = [1, 2, 3]

In [24]:
a[2] = 4
a

[1, 2, 4]

In [28]:
# 연속된 범위값 수정
a[2:3]

['b']

In [33]:
# 해당 위치에 삽입
a[2:3] =["a", "b"]
a

[1, 'a', 'a', 'b', 'b', 4]

In [32]:
# 중첩하여 수정
a[2] = ['a', 'b', 'c']

In [31]:
a

[1, 'a', ['a', 'b', 'c'], 'b', 4]

In [34]:
# 리스트 요소 삭제
a = [1, 2, 3]
del a [2]
a

[1, 2]

In [35]:
a = [1, 2, 3, 4]
del a[1:3]
a

[1, 4]

# 리스트 함수

In [36]:
# 리스트에 요소 추가
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [37]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [38]:
# 리스트 정렬
a = [1, 2, 3, 4, 5]
a.sort()
a

[1, 2, 3, 4, 5]

In [39]:
a.reverse()
a

[5, 4, 3, 2, 1]

In [40]:
# 위치 변환
a = [1, 2, 3]
a.index(3)

2

In [42]:
# 리스트의 요소 삽입
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [44]:
a.insert(3, 5)
a

[4, 1, 2, 5, 5, 3]

In [45]:
# 리스트 요소 제거
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [47]:
# 리스트 요소 꺼내기
a = [1, 2, 3]
a.pop()

3

In [48]:
# 요소 개수 세기
a = [1, 2, 3, 1]
a.count(1)

2

In [50]:
# 리스트 확장
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [53]:
a.append([5, 6])
a

[1, 2, 3, 4, 5, [5, 6], [5, 6]]

# 튜플

In [1]:
t1 = ()
t2 = (1, )
t3 = (1,2,3)
t4 = ('a', 'b')
print(t1,t2,t3,t4)

() (1,) (1, 2, 3) ('a', 'b')

# 딕셔너리

In [2]:
dic = {'name':'김진용','phone':'01012345678'}

In [3]:
print(dic)

{'name': '김진용', 'phone': '01012345678'}

In [4]:
dic['name']

'김진용'

In [5]:
dic['phone']

'01012345678'

In [6]:
dic = {'name':'김진용', 'name':'홍길동'}

In [7]:
dic['name']

'홍길동'

In [9]:
#키가 뭐뭐 있니?
dic.keys()

dict_keys(['name'])

In [10]:
# 값이 뭐뭐 있나?
dic.values()

dict_values(['홍길동'])

# 불 자료형(bool)

In [11]:
# T / F
# True / False
3 > 1

True

In [12]:
if []: 
    print("참")
else:
    print("거짓")

거짓

# 3장 제어문

# 1.if문

In [13]:
money = 1 # 돈이 있다.
if money:
    print("택시 타자")
else:
    print("걸어 가야해")

택시 타자

In [15]:
money = 0
if money:
    print("택시 타자")
else:
    print("걸어 가야해")

걸어 가야해

In [16]:
# 기본구조
if : 조건문 : 
        수행문장1
        수행문장2
else : 
    수행문장A
    수행문장B
# Tab 1번 또는 spacebar 4번

SyntaxError: invalid syntax (<ipython-input-16-01330220df84>, line 2)

In [17]:
money = 2000
if money >= 3000:
    print("택시 타자")
else:
    print("걸어 가자")

걸어 가자

In [3]:
money = 2000 # 내 돈
card = 1 # 카드가 있다.
if money >= 3000 or card:
    print("택시를 타자")
else:
    print("걸어 가자")

택시를 타자

In [4]:
pocket=['paper','cellphone','card','keys']
if 'money' in pocket:
    print("택시 타자")
else:
    if 'card':
        print("택시 타자")
    else:
        print("걸어 가라")

택시 타자

In [5]:
# elif 를 사용
if 'money' in pocket:
    print("택시 타자")
elif 'card' in pocket: 
    print("택시 타자")
else:
    print("걸어 가라")

택시 타자

# 구문
if <조건문>:
    수행 문장1
    수행 문장2
elif <조건문>:
    수행 문장1
elif <조건문>:
    수행 문장1
elif <조건문>:
    수행 문장1
else:
    수행 문장A
    수행 문장B